<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Saleslab</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.cd16778537544908.js" type="module"></script><script src="polyfills.a03e6981b7229d4d.js" type="module"></script><script src="main.5a6ce4ffad3fceb9.js" type="module"></script>

</body></html>